body{
    background-color: rgba(214, 214, 214, 0.9);
}
h1{
    text-align: center;
    color: #19204E;
    text-decoration: underline;
    font-weight: bold;
    font-size: 55px;
}
form{
    display: flex;
    justify-content: space-evenly;
}
fieldset{
    background: rgb(246, 246, 246, 0.6);
    border: 2px solid #19204E;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #19204E;
    height: 550px;
    width: 400px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 15px;
}
input{
    border-radius: 6px;
    border: 1px solid #19204E;
    width: 95%;
}
label{
    color: #DF1B3F;
    margin-top: 20px;
}
